@keyframes tile-hover{
    0% {transform: translateY(0px); background-color: white;}
    50% {background-color: rgb(200, 200, 200);}
    100% {transform: translateY(-10px);}
}

.recipe-sheet{
    display: flex;
    justify-content: space-around;
}

.recipe-segment{
    text-align: center;
    flex: 1;
    margin: 25px;
}

.recipe-segment li{
    text-align: left;
}

.recipe-body{
    margin-top: 50px;
}

.recipe-body li{
    font-size: large;
    padding-bottom: 10px;
}

.recipe-stats-table{
    margin: 15px;

    display: flex;
    justify-content: space-around;
    border: 3px solid blue;
    background-color: white;
    border-radius: 10px;
}

.recipe-image{
    align-self: center;
    padding: 15px;
    border: 3px solid blue;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.recipe-image img{
    height: 400px;
    width: 600px;
    border-radius: 5px;
}

.recipe-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.recipe-row a{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    text-decoration: none;
    color: black;
    transform: translateY(0px);
}

.recipe-row a:hover{
    background-color: rgb(200, 200, 200);
    transform: translateY(-10px);
    animation-name: tile-hover;
    animation-duration: 125ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


.recipe-tile{
    text-align: center;
}

.recipe-tile img{
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

body{
    background-color: beige;
    text-align: center;
}